<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>User info</h2>
        <% if @user.errors.any? %>
         <%= @user.errors.count %>件のerrorが発生しました
         <% @user.errors.full_messages.each do |message| %>
         <li><%= message %></li>
         <% end %>
        <% end %>
          <%= form_with model:@user, local:true do |f| %>
          <div class="form-group">
            <p for="inputName">Name</p>
            <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
          </div>
          <div class="form-group">
            <p for="inputImage">Image</p>
            <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
          </div>
          <div class="form-group">
            <p for="inputIntroduction">Introduction</p>
            <%= f.text_area :introduction %>
          </div>
          <div class="form-group">
            <%= f.submit "Update User" %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</main>